/* Regras Gerais */

/* Importar fonte */
@font-face {
    font-family: pixelada;
    src: url(../Css/Retro\ Gaming.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
}
/*Adicionando imagem de fundo*/
body{
    background-image: url(./fox_supscreen\ \(1\).png);
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

/* NavBar */
.navbar{
    display: flex;
    padding: auto;
    font-weight: bold;
    border: 2px white solid;
    height: 7rem;
}

.navbar a{
    color: rgb(255, 255, 255);
    background-color:  rgb(0, 0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    font-family: pixelada;
    font-size: x-large;
}
/*Animação dos botões da navbar*/
.navbar a:hover{
    color: black;
    background-color: lightgray;
    border: 2px solid white;
    transition: .3s;
}

/*Animação dos botões na tela de cadastro*/
.linkbutton:hover{
    color: aqua;
    transition: .3s;
}
/*Texto principal da primeira tela*/
.maintext p{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: .5rem;
    height: 31rem;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    color: white;
    font-family: pixelada;
    font-size:larger;
    border-radius: 1rem;
}
/*Fundo branco da página de login*/
.loginpage{
    height: 23rem;
    width: 22rem;
    background-color: white;
    margin: 6rem auto;
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
}
/*Define os títulos das telas de login e cadastro*/
.titulodelogin{
    width: 7rem;
    margin-bottom: .5rem;
    border-radius: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin: .7rem auto;
    padding: .3rem;
}
/*Define os títulos indicando onde o usuário insere o e-mail e senha*/
.label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
/*Define os campos onde o usuário insere o e-mail e senha*/
.loginfield{
    height: 2.5rem;
    width: 16rem;
    border: black solid 1px;
    border-radius: 5px;
    margin: .5rem;
}

.loginpage a{
    color: blue;
}
/*Formulários de login e cadastro*/
.form{
    display: block;
    justify-content: center;
    align-items: center;
}
/*Botão de esqueceu a senha*/
#esquecisenha a{
    display: flex;
    font-size: small;
    margin: .1rem;
    margin-left: 55%;
}
/*Botões de login e cadastro*/
.submit{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin: 2rem;
    border: auto;
    height: 2.45rem;
    width: 10rem;
    border-radius: 1rem;
    border: 1px solid gray;
}

#submitcadastro{
    margin: 1rem;
}
/*Animação dos botões de login e cadastro*/
.submit:hover{
    background-color: lightgray;
    border: black 1px inset ;
    transition: .2s;
}
/*Define fonte e tamanho dos links*/
.linkbutton{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
/*Texto da página sobre nós*/
.sobrenostexto{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 1rem;
    height: 90%;
    padding: 1rem;
}

.sobrenostexto p, strong{
    font-family: pixelada;
    font-size: large;
    color: white;
    margin: .5rem;
}
/*Foto da página sobre nós*/
.fotosobrenos{
    margin: 1rem;
    border: white outset 2px;
}
/*Título da tela de suporte*/
.supportlabel{
    font-family: pixelada;
    display: flex;
    font-size:xx-large;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    padding: .4rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px black;
    color: antiquewhite;
}
/*Texto da tela de suporte*/
.encontrouproblema{
    font-family: pixelada;
    font-size: larger;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
    width: 60%;
    padding: .4rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    border: inset 2px  black;
    color: antiquewhite;
}
/*Redes sociais*/
.redessociais{
    padding: 2rem;
    margin: auto;
    text-align: center;
    width: 35%;
    height: 16rem;
    border: inset black 2px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.redessociais p{
    padding: .7rem;
    margin: auto;
    font-family:pixelada;
    font-size:larger;
    font-weight: bold;
    color: antiquewhite;
}

.redessociais a{
    font-family: pixelada;
    font-size:larger;
    font-weight: bold;
    margin-top: 2rem;
    color: green;
}
/*Animações dos links das redes sociais*/
.redessociais a:hover{
    color: lime;
    transition: 0.2s;
}

/* Mobile */

@media screen and (max-width:870px) and (min-width: 640px), (max-width:870px) {

@font-face {
    font-family: pixelada;
    src: url(../Css/Retro\ Gaming.ttf);
}

    *{
        overflow: auto;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    .navbar{
        color: white;
        display: block;
        background: black;
        height:auto;
        width: 100%;
        text-align: center;
        border: none;
        overflow: hidden;
    }
    
    #homebutton{
        margin: 0;
        padding: 1rem;
        font-size: large;
        color: white;
        font-family: pixelada;
        position:static;
        justify-content: center;
        border-radius: 0;
    }

    #gamebutton{
        padding: 1rem;
        font-size: large;
        color: white;
        font-family: pixelada;
        position:static;
        justify-content: center;
        border-radius: 0;
        border: none;
    }

    #sobrenosbutton{
        padding: 1rem;
        font-size: large;
        color: white;
        font-family: pixelada;
        position:static;
        justify-content: center;
        border-radius: 0;
    }

    #supportbutton{
        padding: 1rem;
        font-size: large;
        color: white;
        font-family: pixelada;
        position:static;
        justify-content: center;
        border-radius: 0;
    }

    #loginbutton{
        padding: 1rem;
        font-size: large;
        color: white;
        font-family: pixelada;
        position:static;
        justify-content: center;
        border-radius: 0;
    }

    #homebutton:hover{
        color: black;
        border: 2px solid white;
        border-radius: 0;
        background-color: lightgray;
        transition: .3s;
    }

    #gamebutton:hover{
        color: black;
        border: 2px solid white;
        border-radius: 0;
        background-color: lightgray;
        transition: .3s;
    }

    #loginbutton:hover{
        color: black;
        border: 2px solid white;
        border-radius: 0;
        background-color: lightgray;
        transition: .3s;
    }

    #supportbutton:hover{
        color: black;
        border: 2px solid white;
        border-radius: 0;
        background-color: lightgray;
        transition: .3s;
    }

    #sobrenosbutton:hover{
        color: black;
        border: 2px solid white;
        border-radius: 0;
        background-color: lightgray;
        transition: 0.3s;
    }

    .linkbutton:hover{
        color: aqua;
        transition: .3s;
    }

    .maintext p{
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 2rem;
        height: auto;
        color: white;
        font-family: pixelada;
        font-size: large;
        border-radius: 1rem;
    }

    .foxgif{
        height: 10rem;
    }

    .sobrenostexto{
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
        margin: .5rem;
        height: 90%;
        padding: 1rem;
        overflow: hidden;
    }

    .sobrenostexto p, strong{
        font-family: pixelada;
        font-size: large;
        color: white;
        margin: .5rem;
    }

    .fotosobrenos{
        position: absolute;
        height: 0px;
        width: 0px;
        visibility: hidden;
    }

    .paginajogo{
        background: url(../Css/montanha_pixel.png);
        background-size: 250%;
        background-repeat: no-repeat;
    }

    .gameatworkimg{
        position: absolute;
        visibility: hidden;
    }

    .gameatworktxt{
        position: absolute;
        margin: auto;
        padding: 1rem;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        border-radius: 1rem;
        color: white;
        background: rgba(0, 0, 0, 0.7);
        font-family: pixelada ;
        font-size: xx-large;
        text-align: center;
        visibility: visible;        
    }

    .bodysuporte{
        background: url(./raposa\ 01\ \(1\).png);
        background-size: 250%;
        background-position: center;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
    }

    .supportlabel{
        font-family: pixelada;
        display: flex;
        font-size:xx-large;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        width: 100%;
        padding: .4rem;
        background-color: rgba(171, 0, 238, 0.1); 
        border: solid 1px indigo;
    }

    .encontrouproblema{
        font-family: pixelada;
        font-size: larger;
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        width: 80%;
        padding: .4rem;
        background-color: rgba(171, 0, 238, 0.1); 
        border-radius: 1rem;
        border: inset 2px indigo;
    }

    .redessociais{
        padding: 2rem;
        margin: auto;
        text-align: center;
        width: 60%;
        height: 16rem;
        border: inset indigo 2px;
        border-radius: 1rem;
        background-color: rgba(171, 0, 238, 0.1); 
    }

    .redessociais p{
        padding: .5rem;
        margin: auto;
        font-family:pixelada;
        font-size:larger;
        font-weight: bold;
        overflow:visible;
    }

    .redessociais a{
        font-family: pixelada;
        font-size:larger;
        font-weight: bold;
        margin-top: 2rem;
        color: darkblue;
    }
    
}